{% extends "layout.html" %}

{% block content %}
<h1>Arcade's Game's</h1>
<br>
<div class="contenido">
    <article class="arcades">
        <img src="https://images6.alphacoders.com/105/thumb-1920-1055495.jpg" width="750" height="420">
        <h3>Cyberpunk 2077 - VideoGame</h3>
        <p>Lorem ipsum dolor sit ipsa libero commodi sunt</p>
        <button>Buy</button>
    </article>
    <br>
    <article class="arcades">
        <img src="https://images3.alphacoders.com/946/thumb-1920-946300.jpg" width="750" height="420">
        <h3>Cyberpunk 2077 - VideoGame</h3>
        <p>Lorem ipsum dolor sit ipsa libero commodi sunt</p>
        <button>
            Buy
            <a href="https://wall.alphacoders.com/big.php?i=946300&lang=Spanish"></a>
        </button>
    </article>
    <br>
    <article class="arcades">
        <img src="https://images3.alphacoders.com/108/thumb-1920-1083242.png" width="750" height="420">
        <h3>Cyberpunk 2077 - VideoGame</h3>
        <p>Lorem ipsum dolor sit ipsa libero commodi sunt</p>
        <button>
            Buy
            <a href="https://wall.alphacoders.com/big.php?i=946300&lang=Spanish"></a>
        </button>
    </article>
    <br>
    <article class="arcades">
        <img src="https://images5.alphacoders.com/927/thumb-1920-927025.png" width="750" height="420">
        <h3>Cyberpunk 2077 - VideoGame</h3>
        <p>Lorem ipsum dolor sit ipsa libero commodi sunt</p>
        <button>
            Buy
            <a href="https://wall.alphacoders.com/big.php?i=946300&lang=Spanish"></a>
        </button>
    </article>
    <br>
    <article class="arcades">
        <img src="https://images8.alphacoders.com/571/thumb-1920-571164.jpg" width="750" height="420">
        <h3>Cyberpunk 2077 - VideoGame</h3>
        <p>Lorem ipsum dolor sit ipsa libero commodi sunt</p>
        <button>
            Buy
            <a target="_blank" href="https://wall.alphacoders.com/big.php?i=946300&lang=Spanish" title="Elmasapan"></a>
        </button>
    </article>

    
</div>
{% endblock %}