{% extends "layout.html" %}

{% block content %}

<div class="greetings">
    <h1>Chill the Music</h1>
</div>
<div class="video">
    <iframe width="850" height="600" src="https://www.youtube.com/embed/96w1vUV0zcM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <param name="autoplay" value="false"/>
    <param name="loop" value="false"/>
    </iframe>
    <article>
        <H3>"Waves in the Arcane"(unknow)</H3>
        <p>546.840 visualizaciones21 ene 2022</p>    
    </article>
</div>
<div class="box-greetings">
    
</div>



{% endblock %}